*{
    box-sizing: border-box;
    padding: 1rem;
}

:root{
    --main-white: hsl(0, 0%, 100%);
    --main-light-gray: hsl(212, 45%, 89%);
    --main-grayish-blue: hsl(220, 15%, 55%);
    --main-dark-blue: hsl(218, 44%, 22%);
}

body{
    background-color: var(--main-light-gray);
    font-family: Outfit, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100svh;
    text-align: center;
}

.wrapper{
    background-color: var(--main-white);
    max-width: 20rem;
    border-radius: 8px;
}

#qr-img{
    display: block;
    max-width: 100%;
    border-radius: 8px;
    padding: 5px;
}

h2{
    color: var(--main-dark-blue);
    font-size: 1.3rem;
    padding-bottom: 0;
}

p{
    color: var(--main-grayish-blue);
    font-size: 0.9rem;
    padding-top: 0;
}


.attribution { 
    font-size: 1rem;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
    padding: 0;
}