*{
    box-sizing: border-box;
}

@media (max-width: 376px) {
    body{
        background-color: orange;
    }
}

:root{
    --main-white: hsl(0, 0%, 100%);
    --main-light-gray: hsl(212, 45%, 89%);
    --main-grayish-blue: hsl(220, 15%, 55%);
    --main-dark-blue: hsl(218, 44%, 22%);
}

body{
    background-color: var(--main-light-gray);
    font-family: Outfit, sans-serif;

}

#wrapper{
    background-color: var(--main-white);
    width: 220px;
    height: 350px;
    margin: 70px auto 0 auto;
    border-radius: 5%;
    text-align: center;
}

#qr-img{
    width: 200px;
    border-radius: 8%;
    padding-top: 10px;
}

h2{
    color: var(--main-dark-blue);
    font-size: 15px;
    padding: 0 20px;
}

p{
    color: var(--main-grayish-blue);
    font-size: 10px;
    font-weight: 400;
    padding: 0 20px;
}





.attribution { 
    position: relative;
    bottom: 0;
    margin: 20px 35%;
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}